h1{
    margin: 0;
    color: rgb(255, 255, 255);
    width: 100%;

}

p{
    margin: 0;
    font-size: 20px;
    
}

body{
    margin: 0;
}

a{
    font-size: 20px;
}

header{
    margin: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}

main{
    margin: 10px;
}

#parent{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

h2{
    font-size: 25px;
    border-bottom: 3px dotted rgb(97, 206, 249);


}

.contents{
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0;
    text-align: center;
    
    
 
   
    
}